<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParseTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE4F5DD31DFFB979008744D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE4F5DE71DFFB97A008744D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE4F5DF21DFFB97A008744D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
